@import "colors";
@import "mixins";
@import "../../../foundation/css/app.css";
@import "../../../foundation/css/foundation.css";
@import "main";
@import "Signin/signin";
@import "Signup/signup";
@import "Home/home";
@import "Dashboard/dashboard";
@import "../../../node_modules/vue-sidebar-menu/src/scss/vue-sidebar-menu.scss";
@import "Supplier/supplier";
@import "Product/product";
.vue-tel-input {
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
}
.vti__input {
    border-radius: 0 2px 2px 0;
    width: 100%;
    outline: none;
    padding-left: 7px;
    margin: 0;
}

.slide-leave-active,
.slide-enter-active {
  transition: 1s;
}

.slide-enter {
  transform: translate(100%, 0);
}

.slide-leave-to {
  transition: 0s;
}
.opposite-leave-active,
.opposite-enter-active {
  transition: 1s;
}

.opposite-enter {
  transform: translate(-100%, 0);
}

.opposite-leave-to {
  transition: 0s;
}

